<a href="https://colab.research.google.com/github/Muhammad-Kashif-javed/Deep-Dive-Python-Colab-Notebook-/blob/main/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Default Arguments, `*args`, `**kwargs`, Anonymous Functions, Built-in Functions, and List Comprehensions

### Types of Arguments

- Default Argument
- Positional Argument
- Keyword Argument


1- Default arguments allow you to specify default values for function parameters.

2 -If no value is provided, the default value is used.

In [ ]:
def power(a=1,b=1):
  return a**b

In [ ]:
power(2,4)

16

In [ ]:
# positional argument
power(2,3)

In [ ]:
# keyword argument
power(b=3,a=2)

8


### `*args and **kwargs`
`*args and **kwargs` are special Python keywords that are used to pass the variable length of arguments to a f

In [ ]:
print(type.__doc__)

type(object) -> the object's type
type(name, bases, dict, **kwds) -> a new type

In [ ]:
#function for add unlimited number
def add(*args):
  total = 0
  for i in args:
    total += i
  return total

In [ ]:

add(1,2,3,4,5,6,7,8)

36

In [ ]:
# *args
# allows us to pass a variable number of non-keyword arguments to a function.

def multiply(*multi):
  product = 1

  for i in multi:
    product = product * i


  return product

In [ ]:
multiply(1,2,3,4,5,6)

720

### **Function to process orders with variable arguments**

In [ ]:

def process_order(customer_name, *items):
    """
    Processes an order by calculating the total cost of the items.
    Each item is a tuple with the format (item_name, price, quantity).
    """
    print(f"Processing order for {customer_name}...")
    total_cost = 0

    # Process each item
    for item_name, price, quantity in items:
        item_cost = price * quantity
        total_cost += item_cost
        print(f"- {item_name}: ${price} x {quantity} = ${item_cost}")

    print(f"Total cost for {customer_name}: ${total_cost:.2f}")
    return total_cost

In [ ]:
order1 =  "Ahmad",("Laptop", 1200, 5),("Mouse", 25, 4),("Keyboard", 75, 3)
process_order(*order1)

Processing order for Ahmad...
- Laptop: $1200 x 5 = $6000
- Mouse: $25 x 4 = $100
- Keyboard: $75 x 3 = $225
Total cost for Ahmad: $6325.00

6325

In [ ]:
order1 = process_order(
    "Ahmad",
    ("Laptop", 1200, 5),
    ("Mouse", 25, 4),
    ("Keyboard", 75, 3),
)

Processing order for Ahmad...
- Laptop: $1200 x 5 = $6000
- Mouse: $25 x 4 = $100
- Keyboard: $75 x 3 = $225
Total cost for Ahmad: $6325.00

 ### `**kwargs` allows you to pass a variable number of keyword arguments, making it flexible and useful for handling named parameters dynamically.

In [ ]:
def create_user_profile(username, **details):
    """
    Creates a user profile with a username and additional details.
    """
    print(f"Profile for {username}:")
    for key, value in details.items():
        print(f"- {key.capitalize()}: {value}")

In [ ]:
# Example usage
create_user_profile("john_doe", age=28, location="New York", profession="Engineer")

create_user_profile(
    "jane_smith",
    age=34,
    location="San Francisco",
    profession="Data Scientist",
    hobbies=["Reading", "Hiking"]
)

Profile for john_doe:
- Age: 28
- Location: New York
- Profession: Engineer
Profile for jane_smith:
- Age: 34
- Location: San Francisco
- Profession: Data Scientist
- Hobbies: ['Reading', 'Hiking']

# Lambda Functions in Python

A **lambda function** in Python is a small, anonymous function defined using the `lambda` keyword. It's often used for short, simple operations and can take any number of arguments but has only one expression.

---

### **Syntax:**
```python
lambda arguments: expression

In [ ]:
# Regular function to add 10
def add_ten(x):
    return x + 10

# Lambda function to add 10
add_ten_lambda = lambda x: x + 10

# Usage
print(add_ten(5))           # Output: 15
print(add_ten_lambda(5))    # Output: 15

15
15

In [ ]:
# Lambda function to calculate the product of two numbers
multiply = lambda x, y: x * y

# Usage
print(multiply(3, 4))  # Output: 12

12

In [ ]:
power(4,5)

1024

In [ ]:
cube = lambda x: x * x * x

def appl(fx, value):
  return 6 + fx(value)


print(cube(5))

print(appl(cube,4))

125
70

### **Using Lambda in `map()` `filter()` and `sorted()`**

In [ ]:
# List of numbers
numbers = [1, 2, 3, 4, 5]

# Double each number using map and lambda
doubled = list(map(lambda x: x * 2, numbers))

print(doubled)

[2, 4, 6, 8, 10]

In [ ]:
# List of numbers
numbers = [1, 2, 3, 4, 5]

# Filter even numbers using lambda
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(even_numbers)

[2, 4]

In [ ]:
# List of tuples (name, age)
people = [("Ahmad", 25), ("Ibrahim", 30), ("Asim", 22)]

# Sort by age using lambda
sorted_people = sorted(people, key=lambda person: person[1])

print(sorted_people)

[('Asim', 22), ('Ahmad', 25), ('Ibrahim', 30)]

## Write a function `process_data` that:
 - Accepts a list of numbers and an operation (`add`, `multiply`) as arguments.
 - Uses default arguments for the operation.
 - Uses `*args` for additional numbers and `**kwargs` for additional configurations (e.g., scaling).
 - Uses `lambda` and built-in functions for calculations.
 - Returns the processed list using list comprehension.

In [ ]:
def process_data(numbers, operation='add', *args, **kwargs):

    all_numbers = numbers + list(args)

    # Determine the operation using a lambda function
    if operation == 'add':
        func = lambda x: x + kwargs.get('scale', 0)  # Add scaling if provided
    elif operation == 'multiply':
        func = lambda x: x * kwargs.get('scale', 1)  # Multiply by scaling factor if provided
    else:
        raise ValueError("Invalid operation. Choose 'add' or 'multiply'.")

    # Process the list using list comprehension
    return [func(num) for num in all_numbers]

# Example usage
numbers = [1, 2, 3]
result = process_data(numbers, 'add', 4, 5, scale=10)
print(result)  # Output: [11, 12, 13, 14, 15]